menu "Accelerometers"

config SMI230_ACC
	tristate "Bosch Sensor SMI230 Accelerometer"
	depends on (I2C || SPI_MASTER)
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Build driver for Bosch SMI230 tri-axis accelerometer sensor.

choice
	prompt "Select communication interface"
	depends on SMI230_ACC
	help
	  Note: SPI and I2C are not supported at the same time, that is to say:
	  Choose either SPI or I2C to build the driver.

    config SMI230_ACC_SPI
		bool "Enable SPI connection"
		depends on SPI_MASTER

    config SMI230_ACC_I2C
		bool "Enable I2C connection"
		depends on I2C
endchoice

choice
	prompt "Select operating mode"
	depends on SMI230_ACC
	default SMI230_ACC_DATA_RDY
	help
	  New Data:  interrupt when new acceleration data is available.
	  FIFO:      use hardware fifo and issue interrupt on specific fill level.
	  Data Sync: synchronize data between SMI230 accelerometer and gyro.

	config SMI230_ACC_DATA_RDY
		bool "New data mode"
	config SMI230_ACC_FIFO
		bool "FIFO mode"
	config SMI230_ACC_DATA_SYNC
		bool "Data Sync mode"
endchoice

choice
	prompt "Select ACC FIFO interrupt type"
	depends on SMI230_ACC && SMI230_ACC_FIFO

    config SMI230_ACC_FIFO_WM
		bool "use watermark threshold to generate interrupt"

    config SMI230_ACC_FIFO_FULL
		bool "generate interrupt when FIFO is full"
endchoice

choice
	prompt "Select interrupt source"
	depends on SMI230_ACC
	default SMI230_ACC_INT2

    config SMI230_ACC_INT1
		depends on !SMI230_ACC_DATA_SYNC
		bool "use int1 as source"
		help
		  This enables INT1 as source for ACC, due to development board hardware design, the int1 pin is not for datasync mode

    config SMI230_ACC_INT2
		bool "use int2 as source"
		help
	 	  This enables INT2 as source for ACC
endchoice

choice
	prompt "Select interrupt behaviour"
	depends on SMI230_ACC
	default SMI230_ACC_PUSH_PULL
	
	config SMI230_ACC_PUSH_PULL
		bool "push-pull mode"
		help
		  Use push-pull mode for interrupt pin.
		  
	config SMI230_ACC_OPEN_DRAIN
		bool "open-drain mode"
		help
		  Use open-drain mode for interrupt pin. Pull-up resistor needed!
endchoice

choice
	prompt "Select ACC interrupt level"
	depends on SMI230_ACC
	default SMI230_ACC_ACTIVE_HIGH
	
	config SMI230_ACC_ACTIVE_LOW
		bool "active low"
		help
		  Interrupt signal is active low or falling edge.
		  
	config SMI230_ACC_ACTIVE_HIGH
		bool "active high"
		help
		  Interrupt signal is active high or rising edge.
endchoice

config SMI230_ACC_MAX_BUFFER_LEN
	depends on SMI230_ACC
	int "configue read buffer size"
	default "1024"
	help
	  Considering using FIFO, 1024 bytes are big enough for most cases. Do not change this value if not sure.

endmenu
