menu "Digital gyroscope sensors"

config SMI230_GYRO
	tristate "BOSCH SMI230 Gyro Sensor"
	depends on (I2C || SPI_MASTER)
	select IIO_BUFFER
	select IIO_TRIGGERED_BUFFER
	help
	  Say yes here to build support for BOSCH SMI230GYRO Tri-axis Gyro Sensor
	  driver connected via I2C or SPI.

choice
        prompt "Select communication interface"
        depends on SMI230_GYRO
        help
          Note: SPI and I2C are not supported at the same time, that is to say:
          Choose either SPI or I2C to build the driver.

    config SMI230_GYRO_SPI
        bool "Enable SPI connection"
        depends on SPI_MASTER
    config SMI230_GYRO_I2C
        bool "Enable I2C connection"
        depends on I2C
endchoice

choice
        prompt "Select working mode"
        depends on SMI230_GYRO

    config SMI230_GYRO_NEW_DATA
        bool "New data"
        help
		interrupt comes once new data is available
    config SMI230_GYRO_FIFO
        bool "FIFO"
        help
		interrupt comes once data reaches certain FIFO watermark or FIFO full
endchoice

choice
	prompt "Select GYRO interrupt source"
	depends on (!SMI230_DATA_SYNC) && SMI230_GYRO
	default SMI230_GYRO_INT4

    config SMI230_GYRO_INT3
	bool "use int3 as source"

    config SMI230_GYRO_INT4
	bool "use int4 as source"
endchoice

choice
	prompt "Select GYRO interrupt edge"
	depends on (!SMI230_DATA_SYNC) && SMI230_GYRO
	default SMI230_GYRO_INT_ACTIVE_HIGH

    config SMI230_GYRO_INT_ACTIVE_HIGH
	bool "interrupt is on raising edge"

    config SMI230_GYRO_INT_ACTIVE_LOW
	bool "interrupt is on falling edge"

endchoice

config SMI230_MAX_BUFFER_LEN
        int "configue read buffer size"
        default "1024"
        help
          Considering using FIFO, 1024 bytes are big enough for most cases. Do not change this value if not sure.

endmenu
